extends base
block content 
        section.container 
            h1.main-view This Is A Blogging Application
            h1.main-view1 To know More Login and Access This APIs 
            h1.main-view2 Have a Wounderful Day !